*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/nbproject/private/
.DS_Store

application/cache/*
application/logs/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# CI Project
#-------------------------
.gitignore
contributing.md
index.php
/system/*
application/config/*
application/core/*
application/helpers/*
application/hooks/*
application/language/*
application/models/*
application/third_party/*
application/views/*
!application/libraries/SmartGrid/*
/license.txt
/readme.rst
/application/.htaccess
/application/index.html
/application/controllers/Welcome.php
/application/controllers/index.html
/application/libraries/index.html
!/application/views/example_smartgrid.php
/mpp.txt
!/application/views/smartgrid_and_datatables.php
!/application/views/example_smartgrid_arraygrid.php
!/application/config/smartgrid.php